<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recuperação de Senha</title>
</head>
<body>
  <div style="background-color: #d3d3d3; max-width: 840px; margin: 0 auto; padding: 30px;">
    <h2 style="color: #292536; text-align: center">Recuperação de Senha</h2>
    <p>Olá ${user.name},</p>
    <p>Você solicitou a recuperação de senha. Clique no botão abaixo para alterar sua senha:</p>
    <div style="text-align: center;">
      <a href="http://localhost:8081/auth/reset-password?token={{token}}" target="_blank" style="display: inline-block; padding: 10px 20px; background-color: #442d52; color: #ffffff; text-decoration: none; border-radius: 5px;">Alterar Senha</a>
    </div>
  </div>
</body>
</html>
